/* scss/_variables.scss - Aquí guardamos nuestros colores y fuentes */

// COLORES PRINCIPALES
$color-primario: #0d6efd; // Un azul bonito, similar al de Bootstrap
$color-fondo: #f8f9fa;    // Gris muy clarito para el fondo
$color-texto: #333333;    // Gris oscuro para leer bien
$color-footer: #212529;   // Negro/Gris muy oscuro para el footer

// TIPOGRAFÍAS
$fuente-principal: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;